<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="member">
		<result column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="BIRTH" property="birth" />
		<result column="GENDER" property="gender" />
		<result column="ADDRESS" property="address" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="USER_STATUS" property="userStatus" />
		<result column="PROFILE" property="profile" />
		<result column="EMAIL_KEY" property="emailKey" />
		<result column="EMAIL_AUTH" property="emailAuth" />
	</resultMap>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER (USER_NO
						  , USER_ID
						  , USER_PWD
						  , USER_NAME
						  , EMAIL
						  , PHONE
						  , BIRTH
						  , GENDER
						  , ADDRESS
						  , PROFILE)
		VALUES (SEQ_MEMBER.NEXTVAL
			  , #{userId}
			  , #{userPwd}
			  , #{userName}
			  , #{email}
			  , #{phone}
			  , #{birth}
			  , #{gender}
			  , #{address}
			  , #{profile})		
	</insert>
	
	<select id="idCheck" parameterType="member" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE USER_STATUS = 'Y'
		AND USER_ID = #{userId}
		AND USER_PWD = #{userPwd}
	</select>
	
	<select id="countUserId" parameterType="member" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_NAME = #{userName}
		AND EMAIL = #{email}
		AND USER_STATUS = 'Y'
	</select>
	
	<select id="findUserId" parameterType="member" resultType="string">
		SELECT USER_ID
		FROM MEMBER
		WHERE USER_NAME = #{userName}
		AND EMAIL = #{email}
		AND USER_STATUS = 'Y'
	</select>

	<select id="countUserPwd" parameterType="member" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = #{userId}
		AND USER_NAME = #{userName}
		AND EMAIL = #{email}
		AND USER_STATUS = 'Y'
	</select>
	
	<select id="findUserPwd" parameterType="member" resultType="string">
		SELECT USER_PWD
		FROM MEMBER
		WHERE USER_ID = #{userId}
		AND USER_NAME = #{userName}
		AND EMAIL = #{email}
		AND USER_STATUS = 'Y'
	</select>
	
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		SET BIRTH = #{birth}
		  , ADDRESS = #{address}
		  , PROFILE = #{profile}
		WHERE USER_NO = #{userNo}
	</update>

</mapper>