<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="member">
	<!-- 
		<result column="SELLER_NO" property="sellerNo" />
	 -->
	</resultMap>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER (USER_NO
						  , USER_ID
						  , USER_PWD
						  , USER_NAME
						  , EMAIL
						  , PHONE
						  , BIRTH
						  , GENDER
						  , ADDRESS
						  , PROFILE)
		VALUES (SEQ_MEMBER.NEXTVAL
			  , #{userId}
			  , #{userPwd}
			  , #{userName}
			  , #{email}
			  , #{phone}
			  , #{birth}
			  , #{gender}
			  , #{address}
			  , #{profile})		
	</insert>

</mapper>