<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResultSet" type="notice">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="USER_NO" property="userNo" />
		<result column="WRITE_DATE" property="writeDate" />
		<result column="COUNT" property="count" />
	</resultMap>
	
	<select id="selectNoticeList" resultMap="noticeResultSet">
		SELECT NOTICE_NO
			 , NOTICE_TITLE
			 , USER_ID AS "USER_NO"
			 , TO_CHAR(WRITE_DATE, 'YYYY-MM-DD') AS "WRITE_DATE"
			 , COUNT
		FROM NOTICE N
		JOIN MEMBER M ON (N.USER_NO = M.USER_NO)
		WHERE N.NOTICE_STATUS = 'N'
	</select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE NOTICE_STATUS = 'N'
	</select>
	
</mapper>